[[source]]
verify_ssl = true
url = "https://pypi.douban.com/simple"
name = "pypi"

[packages]
scrapy = "*"
request = "*"
requests = "*"
pymongo = "*"
redis = "*"
scrapy-redis = "*"
pillow = "*"
fake-useragent = "*"
requests-toolbelt = "*"

[requires]
python_version = "3.5"

[dev-packages]
